*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #41D0CD;
    text-align: center;
}

#container{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

#game{
        height: 50vmin;
        width: 50vmin;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 5px;

}
.box{
    height:15vmin;
    width: 15vmin;
    border: 3px solid #78807b;
    border-radius: 20px;
    background-color: #418B89;
    color: #961B4A;
    cursor: grabbing;
    font-size: 45px;
}

.rst-btn{
    height: 10vh;
    width: 20vh;
    border: 3px solid rgb(60, 57, 57);
    border-radius: 20px;
    cursor: pointer;
}
.box:hover{
    background-color: #ea4b88;

}